{% extends 'base.html.twig' %}
{% block title %}New Product{% endblock %}
{% block body %}
<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Create New Product</h4>
    </div>
    <div class="card-body">
        {{ include('product/_form.html.twig', {'button_label': 'Save Product'}) }}
        <a href="{{ path('app_product_index') }}" class="btn btn-primary btn-sm mt-1">Back to List</a>
    </div>
</div>
{% endblock %}
